<nav>
    <ul class="pagination justify-content-center">
        <li [myClass]="{disabled: currentPage === 0}" >
            <a (click)="currentPage = currentPage - 1" class="page-link">Prev</a>
        </li>

        <ng-container *ngFor="let element of images; let i = index">
            <li *ngIf="checkWindowIndex(i)" class="page-item" [myClass]="{active: i == currentPage}">
                <a class="page-link" (click)="currentPage = i">{{i + 1}}</a>
            </li>
        </ng-container>

        <li [myClass]="{disabled: currentPage + 1 === images.length}" class="page-item">
            <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
        </li>
    </ul>
</nav>

<div>
    <h1 class="justify-content-center"> {{images[currentPage]["title"]}}</h1>
    <div [ngSwitch]="currentPage">
        <div *ngSwitchCase="1">numer 2</div>
        <div *ngSwitchCase="2">numer 3</div>
        <div *ngSwitchCase="3">numer 4</div>
        <div *ngSwitchCase="4">numer 5</div>
        <div *ngSwitchDefault>Inne</div>
    </div>
    <img style="max-width: 500px" [src]="images[currentPage]['url']">
</div>
<a href=""></a>
<ul *appTimes="5">
    <li>Hi there</li>
</ul>